<% provide(:title, 'Home') %>
<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <%= render 'shared/current_user_info' %>
      <section>
        <%= link_to "Create post", new_post_path, class: "btn btn-primary" %>
      </section>
    </aside>
    <div class="span8">
      <ol class="posts">
        <h3>Last posts </h3>
        <%= render @posts %>
      </ol> 
    </div>
  </div>
<% else %>
	<h1 class="center">Sitl</h1>
		<h2 class="center">
			Добро пожаловать на микроблог Sitl!
		</h2>
		<div class="center">
			<%= link_to "Registration", signup_path, class: "btn btn-large btn-primary" %> 
    </div>
<% end %>