<% provide(:title, 'comments')  %>

<div class="row">
  <aside class="span4">
    <%= render 'shared/user_info' %>
    <section>
    </section>
  </aside>
  <div class="span8">
		<ul class="users">
      <h3>User comments</h3>
          <section>
    </section>
    	<%= render @comments %>
    </ul>
  </div>
</div>