<% provide(:title, @user.name) %>
<div class="row">
  <%= render 'shared/user_info' %>
  <div class="span8">
    <ol class="posts">
      <%= render @posts if @user.posts.any? %>
    </ol>
    <%= will_paginate @posts %>
  </div>
</div>